.peliculas{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, minmax(250px, 600px));
    grid-template-rows: repeat(2, auto);

    background-color: beige;
}

.peliculas .card{
    background-color: rgb(127, 136, 136);
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
}

.peliculas .card .imagen{
    width: 100%;
}

.peliculas .card .imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.peliculas .card .contenido{
    width: 100%;
    text-align: center;
}
.peliculas .card .contenido p{

}