body{
    background: url(../img/deadpool-and-wolverine-in-a-movie_1920x1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.peliculas{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, minmax(250px, 600px));
    grid-template-rows: repeat(2, auto);
}

.peliculas .card{
    background-color: rgba(49, 49, 49, 0.604);
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
}

.peliculas .card .imagen{
    width: 80%;
}

.peliculas .card .imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.peliculas .card .contenido{
    width: 100%;
    text-align: center;
    color: white;
}
.peliculas .card .contenido p{

}