body{
    background: linear-gradient(to top, rgba(36, 25, 25, 0.705), rgba(0, 0, 0, 0.897)),url('../img/deadpool-and-wolverine-in-a-movie_1920x1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
nav { background:#000000d3; 
}

.logo{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-right: 100px;
    margin-left: 100px;
}

    nav ul{
        list-style:none;
        margin:0;
        padding:10px 16px;
        display:flex;          
        gap: 20px;              
        justify-content:center;
        align-items:center;    
        margin-right: 100px;
    }
    nav a{
        color:rgb(151, 207, 235);
        text-decoration:none;
        font-family:system-ui, Arial, sans-serif;
    }
    nav a:hover{ text-decoration:underline; }

    .texto{
        margin: 70px 20px;
        padding: 0 100px;
        background-color: rgba(250, 235, 215, 0.11);
        color: aliceblue;
        text-align: center;
    }

