body{
    background: linear-gradient(to top, rgba(36, 25, 25, 0.705), rgba(0, 0, 0, 0.897)),url('../img/deadpool-and-wolverine-in-a-movie_1920x1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
nav { background:#000000d3; 
}

.logo{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-right: 100px;
    margin-left: 100px;
}

nav ul{
    list-style:none;
    margin:0;
    padding:10px 16px;
    display:flex;          
    gap: 20px;              
    justify-content:center;

    margin-right: 100px;
}
nav a{
    color:rgb(151, 207, 235);
    text-decoration:none;
    font-family:system-ui, Arial, sans-serif;
}
nav a:hover{ text-decoration:underline; }

.texto{
    margin: 70px 20px;
    padding: 0 100px;
    background-color: rgba(250, 235, 215, 0.11);
    color: aliceblue;
    text-align: center;
    
}
.botones button{
    margin: 10px;
    border-radius: 40px;
    padding: 10px 40px;
    background-color: rgba(0, 0, 0, 0.233);
    color: rgb(240, 248, 255);
    font-weight: bolder;

}

.botones button:hover{
    background-color: rgb(255, 172, 18);
    color: rgb(0, 0, 0);
}
footer {
    background: #000000d3;
    color: aliceblue;
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 20px;
    font-family: system-ui, Arial, sans-serif;
}
    
footer div {
    flex: 1;
    min-width: 220px; 
}
    
footer p {
    margin: 8px 0;
}
    
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
    
footer ul li {
    margin-bottom: 6px;
}
    
footer a {
    color: rgb(151, 207, 235);
    margin-right: 12px;
    font-size: 17px;
    transition: color 0.3s ease;
    text-decoration: none;
}
    
footer a:hover {
    color: aqua;
}
    
    /* --- Responsive --- */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        color: lightslategray;
    }

    footer p{
        font-weight: bolder;
        color: aliceblue;
    }
    
    footer a {
            margin: 0 8px;
    }
}
