#menu-toggle{
    display: none;
}

.menu-icon{
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    margin-left: auto;
    border-radius: 20px;
}


body{
    background: linear-gradient(to top, rgba(36, 25, 25, 0.705), rgba(0, 0, 0, 0.897)),url('../img/deadpool-and-wolverine-in-a-movie_1920x1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
header {
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    background:#000000d3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    width: 200px;
}

nav ul{
    list-style:none;
    display:flex;          
    gap: 20px;              
    justify-content:center;
}
nav a{
    color:rgb(151, 207, 235);
    text-decoration:none;
    font-family:system-ui, Arial, sans-serif;
}
nav a:hover{ text-decoration:underline; }

.texto{
    margin: 70px 100px;
    padding: 0 100px;
    background-color: rgba(250, 235, 215, 0.11);
    color: aliceblue;
    text-align: center;
    
}
.botones button{
    margin: 10px;
    border-radius: 40px;
    padding: 10px 40px;
    background-color: rgba(0, 0, 0, 0.233);
    color: rgb(240, 248, 255);
    font-weight: bolder;

}

.botones button:hover{
    background-color: rgb(255, 172, 18);
    color: rgb(0, 0, 0);
}
footer {
    background: #000000d3;
    color: aliceblue;
    padding: 30px 20px;
    display: flex;

    flex-wrap: wrap; /* Para que se acomode en pantallas pequeñas */
    gap: 20px;
    font-family: system-ui, Arial, sans-serif;
    width: 100%;
}
    
footer div {
    flex: 1;
    min-width: 220px; /* Se acomodan en columna cuando no caben */
}
    
footer p {
    margin: 8px 0;
}
    
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
    
footer ul li {
    margin-bottom: 6px;
}
    
footer a {
    color: rgb(151, 207, 235);
    margin-right: 12px;
    font-size: 17px;
    transition: color 0.3s ease;
    text-decoration: none;
}
    
footer a:hover {
    color: aqua;
}
    
    /* --- Responsive --- */
@media (max-width: 768px) {
    nav{
        position: relative;
    }

    header .logo{
        margin-left: 30px;
    }

    #menu-toggle{
        display: none;
    }

    .menu-icon{
        display: flex;
        font-size: 28px;
        cursor: pointer;
        margin-right: 40px;

    }

    header nav ul{
        display: none;

        position: absolute;

        top: 50px;
        right: 20px;

        padding: 20px;
        background-color: rgba(191, 175, 175, 0.4);
        width: 100px;
        border-radius: 6px;
        box-shadow: 0 4px 10px rgb(0, 0, 0, 0.4);
        z-index: 999999;
    }

    header nav ul li{
        margin: auto;
    }

    header #menu-toggle:checked ~ nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



    footer {
            flex-direction: column;
            text-align: center;
    }
    
    footer a {
            margin: 0 8px;
    }
}
